@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p class="lead mb-0">您的 IP 地址</p>

    <vc:ip-tag address-family="@Model.DisplayIp.AddressFamily"></vc:ip-tag>

    <h2 class="display-4">
        @Model.DisplayIp
    </h2>

    @if (Model.TryGetIpV4 || Model.TryGetIpV6)
    {
        <div id="LoadingGetAnotherIp" class="text-center text-secondary">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="lead">
                正在检查其他 IP 地址
            </p>
        </div>
    }

    @if (Model.TryGetIpV4)
    {
        <div id="GetIpV4">
            <p class="lead">
                您也拥有 <small><vc:ip-tag address-family="InterNetwork"></vc:ip-tag></small> 地址 <span class="ip-address"></span>
            </p>
        </div>
    }

    @if (Model.TryGetIpV6)
    {
        <div id="GetIpV6">
            <p class="lead">
                您也拥有 <small><vc:ip-tag address-family="InterNetworkV6"></vc:ip-tag></small> 地址 <span class="ip-address"></span>
            </p>
        </div>
    }
</div>

<div class="list-group">
    @foreach (var h in HttpContext.Request.Headers)
    {
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2">@h.Key</h5>
            </div>

            <p class="mb-0 text-break">@h.Value</p>
        </a>
    }
</div>


@section Scripts
{
    <script>
        function showAnotherIp(container) {
            return function (data) {
                container.find('.ip-address').text(data.ip)
            }
        }

        function hideLoadingGetAnotherIp() {
            $("#LoadingGetAnotherIp").hide()
        }

        $(function () {
            var getIpV4 = $('#GetIpV4')
            var getIpV6 = $('#GetIpV6')

            var get;

            if (getIpV4.length > 0) {
                get = $.get('https://ipv4.bun.plus/ip', showAnotherIp(getIpV4))
            }

            if (getIpV6.length > 0) {
                get = $.get('https://ipv6.bun.plus/ip', showAnotherIp(getIpV6))
            }

            if (get) {
                get.always(hideLoadingGetAnotherIp)
            }
        });
    </script>
}
