/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    width: 100%;
    white-space: nowrap;
    font-size: 14px;
}

/* BUN IP CSS
-------------------------------------------------- */

/*
    首页 IP 展示部分
    防止小屏幕的设备 IPv6 地址过长产生横向滚动条
    如果实在显示不下，允许换行显示
*/
#IpDisplay.display-4 {
    font-size: 1.25rem;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (min-width: 576px) {
    #IpDisplay.display-4 {
        font-size: 1.9rem;
    }
}

@media (min-width: 768px) {
    #IpDisplay.display-4 {
        font-size: 2.28rem;
    }
}

@media (min-width: 992px) {
    #IpDisplay.display-4 {
        font-size: 3.08rem;
    }
}

@media (min-width: 1200px) {
    #IpDisplay.display-4 {
        font-size: 3.5rem;
    }
}

/* 树莓派 logo */
#PiLogo{
    height: 30px;
}
