@using System.Net.Sockets
@model BunIp.Web.Pages.Shared.Components.IpTag.ViewModel

@{
    string tagClass = null;

    @if (Model.AddressFamily == AddressFamily.InterNetwork)
    {
        tagClass = "badge-success";
    }

    @if (Model.AddressFamily == AddressFamily.InterNetworkV6)
    {
        tagClass = "badge-warning";
    }
}

<span class="badge @tagClass">@Model.DisplayIpFamily</span>